body {
font-family: "Mitr", sans-serif;
background-color: rgb(240, 187, 228);
}

header{
width: 100%;
height: 70px;


}


.header1 {
position: fixed;
top: 0px;
left: 0px;
right: 0px;
height: 50px;
padding: 5px 13px 11px 0px;
width: 100%;
color: white;
font-family: "Mitr", sans-serif;
margin-top: 0px;
bottom: 0;
background-color: rgb(248, 140, 210);
}

.header1 img {
float: left;
width: 15%;
height: 50px;
padding-left: 15px;
padding-top:10px;

}
.button {
position: relative;
margin-top: -55px;
margin-right: 20px;
float: right;
text-decoration: none;
border: transparent;
border-radius: 15px;
background-color: #e60000;
padding: 10px 10px 10px 10px;
color: white;
transition: 0.5s;
}
.button:hover {
background-color: #D9ddd4;
color: red;
}
ul{
width: auto;
float: right;
margin-top: 50px;

}

li{
display: inline-block;
padding: 15px 15px;

}
a{
text-align: center;
color: #ffffff;
text-decoration: none;
font-family: 'Open Sans',sans-serif;
font-size: 1.2vw;

}
a:hover{
color: #F0c330;
transition: 0.5s;
}

.Pcontent{

font-weight: 35px;
font-size: 35px;
}
h1{
position: absolute;
padding: 3px;
float: left;
margin-left: 2%;
margin-top: 10px;
font-family: 'Alfa Slab One',cursive;
color: #39ca74;
}

.header{
width: 30%;
margin: 50px auto 0px;
color: white;
background: #39ca74;
text-align: center;
border: 1px solid #B0C4DE;
border-bottom: none;
border-radius: 10px 10px 0px 0px ;
padding: 20px;
}

.headerP{
width: 20%;
margin-left: 0px;
margin-top: 60px;
color: white;
background: #39ca74;
text-align: center;
border: 1px solid #B0C4DE;
border-bottom: none;
border-radius: 10px 10px 0px 0px ;
padding: 20px;
}






form{

width: 30%;
margin:0px auto;
padding: 20px;
border: 1px solid #B0C4DE;
background: white;
border-radius: 0px 0px 10px 10px;

}




.input-group{
margin: 10px 0px 10px 0px;
}

.input-group label{
display: block;
text-align: left;
margin: 5px;

}

.input-group input{
height: 20px;
width: 93%;
padding: 5px 10px;
font-size: 16px;
border-radius: 5px;
border:1px solid grey;

}

.xd{
height: 30px;
width: 98%;
padding: 5px 10px;
font-size: 16px;
border-radius: 5px;
border:1px solid grey;}

.btn{
margin :0 50% 0 40%;
padding: 10px 30px 10px 30px;
font-size: 15px;
color: white;
background: #39ca74;
border:none;
border-radius: 5px;
}

.input-group2{
height: 30px;
width: 98%;
padding: 5px 10px;
font-size: 16px;
border-radius: 5px;
border:1px solid grey;}

.input-group2{
margin: 10px 0px 10px 0px;
}

.input-group2 label{
display: block;
text-align: left;
margin: 5px;

}

.input-group2 input{
height: 20px;
width: 93%;
padding: 5px 10px;
font-size: 16px;
border-radius: 5px;
border:1px solid grey;

}


.error{

width: 92%;
margin: 0px auto;
padding: 10px;
border:1px solid #a94442;
color: #a94442;
background: #f2dede;
border-radius: 5px;
text-align: left;

}


.table2{

border-collapse: collapse;
width: 100%;
color: #282828;
font-family: monospace;
font-size: 25px;
text-align: center;
margin-top: 130px;




}



th{
background-color: #39ca74;
color: white;
}
tr:nth-child(even){
background-color: #f2f2f2;
}



h2 {
color: #000000;
}
.container {
margin: 100px auto;
margin-bottom: 10px;
border-radius: 30px;
text-align: center;
background-color: white;
width: 40%;
height: 30px;
padding-top: 10px;
padding-bottom: 10px;
}


.thanks{
color: #015A40;
font-size: 45px;

}






